/* "css/style.css" - til dine custom styles*/

/* Før du skriver noget CSS selv, så tjek Bootstraps dokumentation.
Bogmærk linkene fra Fronter i din browser!

Der er masser af indbyggede classes for alt muligt i Bootstrap, f.eks. for typografi, spacing (margin og padding), flexboxes og positionering med meget mere.

Disse indbyggede classes, skal du hellere tilføje i HTML-filen end skrive egen CSS - i hvert fald til at begynde med. */

/* testing
.row {
  --bs-gutter-y: 3rem;
}
*/
